<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MapDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>937657F71C83DAFB00E54B66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>937658101C83DAFC00E54B66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9376581B1C83DAFC00E54B66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
